body {
  background: url(https://file.garden/ZdmNLegxzVCR-8F4/backgrounds/tumblr_f81d86a7b72bdd4b58fb97aaa9f051ac_ae788eaf_540.png) repeat fixed;
  font-family: monospace;
  padding: 5px;
  font-size: 10px;
}

p{
  text-align: left;
}

.parent {  
 display: grid; 
  grid-template-columns: 0.7fr 1.3fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 0.5fr 1.5fr repeat(2, 1fr) 1.4fr 0.6fr; 
  gap: 5px 5px; 
  align-items: start; 
  width: 600px; 
  height: 500px; 
  margin: auto;
}

.sidebar { grid-area: 2 / 1 / 4 / 2; }
.footer { grid-area: 6 / 1 / 7 / 7; }
.content { grid-area: 2 / 2 / 6 / 7; }
.ad { grid-area: 4 / 1 / 6 / 2; }

.content {
  background: white;
  border: 1PX solid red;
  padding: 20px;
  height: 350px;
  text-align: center;
  overflow: scroll;
} 

table {
  border-collapse: collapse;
  font-family: arial;
}

th {
  color: black;
  padding: 2px;
  border-bottom: 1.5px solid black;
  border-top: 1.5px solid black;
}

td {
  padding: 3px;
  text-align: left;
  border-bottom: 0.8px dashed black;
}

td+td {
  text-align: right;
}

.footer {
  text-align:right;
  height: 30px;
}

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 70px;
  background-color: pink;
  border: 1px solid red;
  font-size: 10px;
}

li a {
  display: block;
  width: 60px;
  color: red;
  padding: 5px 5px;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid red;
}

li:last-child {
  border-bottom: none;
}

li a:hover {
  background-color: red;
  color: black;
}

a {
  color: red;
}

a:hover {
  color: red;
  text-shadow: rgba(255, 0, 0, 0.82) 1px 0 1px;
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.crt {
  animation: textShadow 1.6s infinite;
}
