body {
  background-color: #161616;
  font-size: 10px;
  color: white;
  font-family: monospace;
}

.parent{
  display: flex;
  justify-content: center;
  gap: 5px;
} 

.content{ 
  flex-wrap: wrap;
}

img {
  border-radius: 4px;
  padding: 7px;
  width: 200px;
}

/*for links in parent*/
a {
  color: hsl(281, 100%, 78%);
}

a:hover {
  color: hsl(281, 86%, 78%);
  text-shadow: rgb(236, 105, 248);
}