body {
  background: url(https://file.garden/ZdmNLegxzVCR-8F4/backgrounds/tumblr_f81d86a7b72bdd4b58fb97aaa9f051ac_ae788eaf_540.png) repeat fixed;
  font-family: monospace;
  padding: 5px;
  font-size: 15px;
  color: white;
}

.content{
  background: black;
  width: 900px;
  margin: auto;
  border: 1PX solid red;
  padding: 20px;
  overflow: scroll;
} 

img {
  border-radius: 4px;
  padding: 7px;
  height: 140px;
}

img:hover {
  box-shadow: 0 0 2px 2px rgb(255, 27, 27);
}

/*for links in parent*/
a{
  color: red
}

a:hover {
  color: red;
  text-shadow: rgba(255,0,0,0.82) 2px 0 2px;
}

/*crt overlay*/
.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.crt {
  animation: textShadow 1.6s infinite;
}
