body {
  background: #161616;
  font-family: monospace;
  font-size: 11px;
  color: white;
}

.parent {  
  display: flex;
  justify-content: center;
  gap: 5px;
}

/*main - where text goes*/

.content{ 
  max-width: 470px;
}

.main{
  color: white;
  padding: 20px;
  overflow: scroll;
} 

.sidebar {
  color: white;
  width: 70px;
}

.links{
  text-align: center;
}

.date {
  color: rgb(239, 142, 158);
}

.entry {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

/*navbar/sidebar coloring*/
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 70px;
  font-size: 12px;
}

li a {
  text-align: right;
  font-style: italic;
  display: block;
  width: 60px;
  color: rgb(239, 142, 158);
  padding: 5px 5px;
  text-decoration: none;
  border-bottom: 1px solid rgb(239, 142, 158);
}

li:last-child {
  border-bottom: none;
}

li a:hover {
  color: hsl(281, 86%, 78%);
}

/*link coloring*/
a {
  color: hsl(281, 100%, 78%);
}

a:visited {
  color:rgb;
}

a:hover{
  color:hsl(281, 100%, 78%);
  text-shadow: rgb(236, 105, 248);
}

/*ALL tables' coloring and styles*/

table {
  border-collapse: collapse;
  font-family: arial;
  font-size: 12px;
}

th {
  color: rgb(239, 142, 158);
  padding: 6px;
  font-style: italic;
  border-bottom: 1.5px solid rgb(239, 142, 158);
  border-top: 1.5px solid rgb(239, 142, 158);
}

td {
  padding: 4px;
  text-align: left;
  border-bottom: 0.8px dashed white;
}
td>a {
  color: hsl(281, 100%, 78%);
  font-style: italic;
}

td + td {
  text-align: right;
}

.glance { /*table in about me section*/
  text-align: right;
  border: 1px solid rgb(239, 142, 158);
}

/*ALL details & summary expands*/

details summary {
  cursor: pointer;
}

details img {
  border: 1px solid rgb(239, 142, 158);
  width: 130px;
}

details > p {
  color: white;
  padding: 10px;
  border: 1px solid rgb(239, 142, 158);
  letter-spacing: 0.3px;
  line-height: 14px;
}

details > summary:hover {
  color: hsl(281, 100%, 78%);
  text-shadow: rgb(236, 105, 248); 1px 0 1px;
}

summary {
  list-style-type: "> ";
}

/*for ALL links in parent*/
a {
  color: rgb(239, 142, 158);
}

a:visited {
  color: rgb(239, 142, 158)
}

a:hover {
  color: hsl(281, 86%, 78%);
  text-shadow: rgb(236, 105, 248);
}

/**pages that have buttons**/
.buttons{
  display: flex;
  justify-content: center;
}

.page{
  color: black;
  background: rgb(255, 255, 255);
  font-size: 17px;
  margin: 5px;
}