body {
  background: url(https://file.garden/ZdmNLegxzVCR-8F4/backgrounds/tumblr_f81d86a7b72bdd4b58fb97aaa9f051ac_ae788eaf_540.png)
    repeat fixed;
  font-family: monospace;
  padding: 5px;
  font-size: 12.5px;
}

.parent {
  /*main grid parent, holds navbar, content, etc*/
  display: grid;
  grid-template-columns: 0.3fr 2fr 0.3fr; 
  grid-template-rows: 0.2fr 1.8fr; 
  align-content: start;
  gap: 5px 5px;
  height: 700px;
  width: 700px; 
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.content {
  /*where all images, texts, etc go into */
  grid-area: 2 / 2 / 3 / 3;
  box-sizing: border-box;
  border: 1px solid red;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 20px;
  height: 700px;
  width: 600px;
  overflow: scroll;
  word-spacing: 4px;
  color: white;
  background: black;
}

.misc { grid-area: 2 / 3 / 3 / 4; }

.header {
  grid-area: 1 / 2 / 2 / 3;
  box-sizing: border-box;
  font-size: 14px;
  color: red;
  font-family: arial;
  font-style: italic;
  text-align: left;
  letter-spacing: 8px;
  align-items: end;
}

#navbar {
  grid-area: 2 / 1 / 3 / 2;
}

/*navbar coloring*/
ul {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80px;
  font-size: 12px;
}

li:last-child {
  border-bottom: none;
}

li a {
  font-style: italic;
  display: block;
  width: 70px;
  color: red;
  padding: 5px 5px;
  text-decoration: none;
  text-align: right;
  border-bottom: 1px solid red;
}

li a:hover {
  color: red;
}

.footer {
  justify-self: center;
  align-self: end;
  grid-area: 6 / 2 / 7 / 6;
}
/*  ^^^for gridlayout and format of ALL texts ^^^  */

.pages { /*in diary*/
  background: url(https://file.garden/ZdmNLegxzVCR-8F4/backgrounds/tumblr_1a1817a14106d62cf687c5abb1026745_579099bb_1280.webp)
    repeat fixed;
  color: white;
  width: 80px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid red;
  box-sizing: border-box;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

/**pages that have buttons**/
.buttons{
  display: flex;
  justify-content: center;
}

.page{
  color: pink;
  background: red;
  font-size:20px;
  margin: 5px;
}

/*ALL tables' coloring and styles*/
table {
  border-collapse: collapse;
  font-family: arial;
  font-size: 12px;
}

th {
  color: red;
  padding: 6px;
  font-style: italic;
  border-bottom: 1.5px solid red;
  border-top: 1.5px solid red;
}

td {
  padding: 4px;
  text-align: left;
  border-bottom: 0.8px dashed white;
}
td>a {
  color: red;
  font-style: italic;
}

td + td {
  text-align: right;
}

.glance { /*table in about me section*/
  text-align: right;
  border: 1px solid red;
}

/*ALL details & summary expands*/
details summary {
  cursor: pointer;
}

details img {
  border-radius: 5px;
  border: 1px solid red;
  width: 130px;
}

details > p {
  color: white;
  padding: 10px;
  border: 1px solid red;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  letter-spacing: 0.3px;
  line-height: 14px;
}

details > summary:hover {
  color: red;
  text-shadow: rgba(255, 0, 0, 0.82) 1px 0 1px;
}

summary {
  list-style-type: "> ";
}

/*in diary*/
.date {
  color: red;
  padding: 5px;
}

.entry {
  color: white;
  width: auto;
}

/*for ALL links in parent*/
a {
  color: red;
}

a:hover {
  color: hotpink;
  text-shadow: rgba(255, 0, 0, 0.82) 1px 0 1px;
}