body {
  background-color: #161616;
  font-size: 15px;
  color: white;
  font-family: monospace;
}

.parent{
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
} 

.main {
  display: flex;
  flex-wrap: wrap;
}

img {
  border-radius: 4px;
  padding: 7px;
  width: 200px;
}

/*for links in parent*/
a {
  color: hsl(281, 100%, 78%);
}

a:hover{
  color:hsl(281, 100%, 78%);
  text-shadow: rgb(200, 25, 253) 1px 0 1px;
}
