body {
  background-color: white;
  font-family: monospace;
  padding: 5px;
  font-size: 13px;
}

.parent {  
  width: 1500px;
  margin-inline: auto;
  height: auto;
}

.content{
  padding: 30px;
} 

img {
  padding: 10px;
  height: 300px;
}


/*for links in parent*/
a{
  color: black
}

a:hover {
  color: red;
  text-shadow: rgba(255,0,0,0.82) 2px 0 2px;
}