body {
  background-color: #161616;
  font-size: 15px;
  color: white;
  font-family: monospace;
}

.parent{
  justify-content: center;
  max-width: 1000px;
} 

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
img {
  border-radius: 4px;
  padding: 7px;
  height: 140px;
}

/*for links in parent*/
a {
  color: hsl(281, 100%, 78%);
}

a:hover{
  color:hsl(281, 100%, 78%);
  text-shadow: rgb(200, 25, 253) 1px 0 1px;
}
