body {
  background: white;
  font-family: monospace;
  font-size: 11px;
  color: black;
}

.parent {  
  display: flex;
  justify-content: center;
  gap: 5px;
}
/*main - where text goes*/

.content{ 
  max-width: 470px;
}

.main{
  color: black;
  padding: 20px;
  overflow: scroll;
} 

.sidebar {
  color: black;
  width: 70px;
}

.webring{
  text-align: center;
}

/*navbar/sidebar coloring*/
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 70px;
  font-size: 12px;
}

li a {
  text-align: right;
  font-style: italic;
  display: block;
  width: 60px;
  color: rgb(239, 142, 158);
  padding: 5px 5px;
  text-decoration: none;
  border-bottom: 1px solid rgb(239, 142, 158);
}

li:last-child {
  border-bottom: none;
}

li a:hover {
  color: hsl(281, 86%, 78%);
}

/*link coloring*/
a {
  color: rgb(239, 142, 158)
}

a:visited {
  color: rgb(239, 142, 158);
}

a:hover{
  color:hsl(281, 100%, 78%);
  text-shadow: rgb(200, 25, 253) 1px 0 1px;
}

/*floating divs- site updates and currently doing & chatbox */

.chatbox {
  margin: 5px;
}

.updates {
  box-sizing: border-box;
  padding: 20px;
  height: 140px;
  color: black;
  position: relative;
}

.toro {
  position: absolute;
  width: 180px;
  bottom: 20px;
  right: 10px;
}

.dottie {
  width: 120px;
  position: absolute;
  bottom: 20px;
  left: 10px;
}