body{
  background: url(https://file.garden/ZdmNLegxzVCR-8F4/backgrounds/tumblr_1a1817a14106d62cf687c5abb1026745_579099bb_1280.webp) repeat fixed;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: white;
  background: black;
}
